<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	 <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title></title>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap/bootstrap.min.js"></script>
	<script src="/js/jquery.cookie.js"></script>
	<script src="/js/toastr.js"></script>
	<script src="/js/bootstrap/bootstrap-select.min.js"></script>
	<script src="/js/jquery.growl.js"></script>
	<script src="/js/adduser/adduser.js"></script>
	<script src="/js/aes.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/toastr.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap-select.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.growl.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/userapply.css}">
	<style type="text/css">
	#phoneacc {
	    margin-top: 50px;
	}
	#addbtn{
		margin-left: 50px;
		margin-top: 130px;
		}
     #backbtn{
		margin-left: 120px;
		margin-top: 130px;
		}
	 body {
		font-size:16px; 
		margin-right: 0px;
		margin-left: 0px;
		}
	#growls.default {
        position:absolute;
	    left:50px;
	    top:250px;
       }
	</style>
</head>
<body class="bg-success">

<div class="container">
 
 <form action="" role='form' class="">
 <div class="form-group" id="phoneacc">
 <label for="username" class="">手机号：</label>
 <input type="tel" id="inphone" class="form-control"  placeholder="请输入手机号" maxlength="11">
 </div>
 <div class="form-group">
<label for="name">金额(￥)：</label>
  <select class="form-control selectpicker" id="selmoney" onchange="funcAcc()">
</select>
</div>
 <div class="form-group">
<label for="name">次数：</label>
 <select  class="form-control selectpicker" id="selaccount">
 </select>
</div>
<div class="form-group">
<label for="username" class="">奖励次数：</label>
  <div class="input-group spinner">
    <input type="number" class="form-control" value="0" id="rewardacc">
    <div class="input-group-btn-vertical">
      <button class="btn btn-info" type="button"><i class="glyphicon glyphicon-chevron-up"></i></button>
      <button class="btn btn-info" type="button"><i class="glyphicon glyphicon-chevron-down"></i></button>
    </div>
  </div>
</div>
 <div class="form-group">
 <input type="button" value="添加" class="btn btn-primary" id="addbtn">
 <input type="reset" value="返回" class="btn btn-warning" id="backbtn">
 </div>
 </form> 
</div>
</body>
</html>