<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.cloud.mapper.IUserMapper">
<!-- ###################t_users表  开始######################-->
<insert id="saveUserInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.yf.cloud.info.UserTable">
   insert into t_users(name,username,password,repassword,createtime,db_source) values (#{name},#{username},#{password},#{repassword},now(),DataBase());
</insert>
<select id="getUserTableLoginInfo" parameterType="map"  resultType="com.yf.cloud.info.UserTable">
   select * from  t_users where username=#{username};        
</select>

<select id="getUserById" parameterType="map"  resultType="int">
   select count(*) from  t_users where username=#{username};        
</select>

<select id="getPasswordByUsername" parameterType="String"  resultType="String">
   select password from  t_users where username=#{username};        
</select>


<!--##############userapply表  开始########################-->
<insert id="addUserApplyTable" useGeneratedKeys="true" keyProperty="id" parameterType="com.yf.cloud.info.UserApply">
   insert into userapply(phone,accountNum,createtime,updatetime,uid,db_source) values (#{phone},#{accountNum},now(),now(),#{uid},DataBase());
</insert>
<select id="getUserApplyByList" parameterType="map"  resultType="com.yf.cloud.info.UserApply">
   select * from  userapply where phone=#{phone} and uid=#{uid} order by createtime desc  
   <if test="limit !=null">
    limit #{offset}, #{limit} ;  
   </if>
</select>


<!--################# userinfo表  开始#######################-->
<update id="updateUserInfoTable" parameterType="map">
   <if test="type==0">
     update userinfo set accountNum=accountNum-#{account},money=0,updatetime=now() where uid=#{uid} and phone=#{phone}
   </if>
    <if test="type==1">
     update userinfo set accountNum=accountNum-#{account},updatetime=now() where uid=#{uid} and phone=#{phone}
   </if>
</update>
<update id="updateInvestMoneyUserInfo" parameterType="com.yf.cloud.info.UserInfo">
   update userinfo set money=money+#{money},accountNum=accountNum+#{accountNum} where phone=#{phone} and uid=#{uid}
</update>

<select id="getUserInfoByAccount" parameterType="map"  resultType="com.yf.cloud.info.UserInfo">
   select * from  userinfo where phone=#{phone} and uid=#{uid} order by createtime desc;        
</select>
<insert id="addUserInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.yf.cloud.info.UserInfo">
   insert into userinfo(name,phone,money,accountNum,rewardaccount,createtime,updatetime,uid,db_source) values (#{name},#{phone},#{money},#{accountNum},#{rewardaccount},now(),now(),#{uid},DataBase());
</insert>
<select id="getAllUserInfoByList" parameterType="map"  resultType="com.yf.cloud.info.UserInfo">
   select * from  userinfo where uid=#{uid} and accountNum &gt;0 order by createtime desc
   <if test="type==0">
    limit #{offset}, #{limit}     
   </if>
</select>
<update id="updateUserInfo" parameterType="map">
   update userinfo set money=#{money},accountNum=#{accountNum},rewardaccount =rewardaccount+#{rewardaccount} ,updatetime=now() where uid=#{uid} and phone=#{phone}
</update>


<!--################# moneyset表  开始#######################-->
<select id="getMoneySetingByList" parameterType="map"  resultType="com.yf.cloud.info.MoneySet">
   select * from  moneyset;        
</select>
<select id="getAccountSettingByAccNum" parameterType="map"  resultType="com.yf.cloud.info.MoneySet">
   select * from  moneyset  where money=#{money};        
</select>
<select id="getMoneyByList" parameterType="map"  resultType="com.yf.cloud.info.MoneySet">
   select * from  moneyset  where money !=#{money};        
</select>
</mapper>